* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 96px;
  padding-bottom: 64px;
}
.max-width-wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.intro-chunk {
  max-width: 450px;
  padding-left: 24px;
  padding-right: 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 10px solid hsl(0deg, 0%, 60%);
  padding-top: 62px;
  padding-bottom: 56px;
}

.title {
  margin-bottom: 48px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 16px 0;
}

.indented-heading {
  background-color: hsla(45, 100%, 50%);
  padding: 16px 32px;
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  border-bottom: 10px solid hsl(45deg, 100%, 40%);
}

.card {
  background-color: white;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 10px solid hsl(0deg, 0%, 60%);
}
.card p:last-child {
  margin-bottom: 24px;
}
